body {
    background: #f5d9d5;
    font-family: 'Nunito', sans-serif;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar {
    font-size: 1.5em;
    font-weight: 100;
}
